label {
    display: block;
    font-weight: bold;
}

input[type='text'],
input[type='password'] {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    min-width: 300px;
}

button {
    padding: 5px;
    border: 1px solid CCC;
    border-radius: 5px;
}